In [4]:
import pandas as pd

df = pd.read_csv("data/processed_games_with_eval.csv")
df.head()

,current_fen,serialized_board,p,r,n,b,q,k,eval
0,rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR ...,[65280 129 66 36 16 8],0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,37
1,rnbqkbnr/pp1ppppp/8/2p5/4P3/8/PPPP1PPP/RNBQKBN...,[536928000 129 66 36 ...,0000000000000000000000000000000000100000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,52
2,rnbqkbnr/pp1ppppp/8/2p5/4P3/5N2/PPPP1PPP/RNBQK...,[536928000 129 66 36 ...,0000000000000000000000000000000000100000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,43
3,rnbqkbnr/pp2pppp/3p4/2p5/4P3/5N2/PPPP1PPP/RNBQ...,[537972480 129 66 36 ...,0000000000000000000000000000000000100000000100...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,67
4,rnbqkbnr/pp2pppp/3p4/2p5/3PP3/5N2/PPP2PPP/RNBQ...,[537972480 129 66 36 ...,0000000000000000000000000000000000100000000100...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,65

In [2]:
import numpy as np


def deserialize_position(serialized_string):
    bitboards = serialized_string.strip("[]").split(" ")
    bitboards = [x for x in bitboards if not x == ""]
    bitboards = [int(x) for x in bitboards]
    pieces = ["p", "r", "n", "b", "q", "k"]
    bitboards = {piece: format(bitboards[i], "064b") for i, piece in enumerate(pieces)}
    return bitboards

In [3]:
df["p"] = np.nan
df["r"] = np.nan
df["n"] = np.nan
df["b"] = np.nan
df["q"] = np.nan
df["k"] = np.nan

for i, row in df.iterrows():
    bitboards = deserialize_position(row["serialized_board"])
    for piece in bitboards:
        df.at[i, piece] = bitboards[piece]

df.head()

/tmp/ipykernel_15291/739906037.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0000000000000000000000000000000000000000000000001111111100000000' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[i, piece] = bitboards[piece]
/tmp/ipykernel_15291/739906037.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0000000000000000000000000000000000000000000000000000000010000001' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[i, piece] = bitboards[piece]
/tmp/ipykernel_15291/739906037.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0000000000000000000000000000000000000000000000000000000001000010' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[i, piece] = bitboards[piece]
/tmp/ipykernel_15291/739906037.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0000000000000000000000000000000000000000000000000000000000100100' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[i, piece] = bitboards[piece]
/tmp/ipykernel_15291/739906037.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0000000000000000000000000000000000000000000000000000000000010000' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[i, piece] = bitboards[piece]
/tmp/ipykernel_15291/739906037.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0000000000000000000000000000000000000000000000000000000000001000' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[i, piece] = bitboards[piece]

,current_fen,serialized_board,p,r,n,b,q,k
0,rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR ...,[65280 129 66 36 16 8],0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
1,rnbqkbnr/pp1ppppp/8/2p5/4P3/8/PPPP1PPP/RNBQKBN...,[536928000 129 66 36 ...,0000000000000000000000000000000000100000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
2,rnbqkbnr/pp1ppppp/8/2p5/4P3/5N2/PPPP1PPP/RNBQK...,[536928000 129 66 36 ...,0000000000000000000000000000000000100000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
3,rnbqkbnr/pp2pppp/3p4/2p5/4P3/5N2/PPPP1PPP/RNBQ...,[537972480 129 66 36 ...,0000000000000000000000000000000000100000000100...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
4,rnbqkbnr/pp2pppp/3p4/2p5/3PP3/5N2/PPP2PPP/RNBQ...,[537972480 129 66 36 ...,0000000000000000000000000000000000100000000100...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...

In [4]:
import chess
import chess.engine

engine_path = "stockfish"


def evaluate_position(fen):
    with chess.engine.SimpleEngine.popen_uci(engine_path) as engine:
        board = chess.Board(fen)
        info = engine.analyse(board, chess.engine.Limit(time=0.01))
        score = info.get("score")

        if score is None:
            return 0

        score_value = score.white()
        if score_value.is_mate():
            mate_in_moves = int(str(score_value).replace("#", ""))
            return (
                10000 - (mate_in_moves * 100)
                if mate_in_moves > 0
                else -10000 + (-mate_in_moves * 100)
            )
        return int(str(score_value))

In [5]:
import pandas as pd
import numpy as np
from tqdm import tqdm
from concurrent.futures import ProcessPoolExecutor
import os
import concurrent.futures

tqdm.pandas()

df["eval"] = np.nan


def evaluate_position_wrapper(fen):
    try:
        return evaluate_position(fen)
    except:
        return 0


def evaluate_positions(df):
    with ProcessPoolExecutor() as executor:
        return list(
            tqdm(
                executor.map(evaluate_position_wrapper, df["current_fen"]),
                total=len(df),
            )
        )


df["eval"] = evaluate_positions(df)

100%|██████████| 52525/52525 [1:39:42<00:00,  8.78it/s]

In [6]:
df.to_csv("data/processed_games_with_eval.csv", index=False)